
<ion-view view-title="Calendar" hide-back-button="true">
        <ion-content class="padding-top">
          <h1>Hello There!</h1>
          <button ng-click="logOut()" class="button button-clear button-positive">Logout</button>
        </ion-content>
</ion-view>

<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-bottom tabs-color-active-positive">



<!-- Dashboard Tab -->
  <ion-tab  title="News" icon-off="ion-ios-world-outline" icon-on="ion-ios-world-outline" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>


  <ion-tab title="Roster" icon-off="ion-clipboard" icon-on="ion-clipboard" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <ion-tab  icon-off="ion-pinpoint" icon-on="ion-pinpoint" href="#/manager">
    <ion-nav-view name="manager"></ion-nav-view>
  </ion-tab>




</ion-tabs>
